<div class="container my-5">
    <h1 class="text-center mb-4">Incident Management Dashboard</h1>
    
    <div class="row gx-4">
      <!-- Left Column -->
      <div class="col-lg-6 mb-4">
        
            <app-incident-report></app-incident-report>
        
            <app-incident-progress 
              [stages]="stages" 
              [currentStatus]="sampleIncident.status">
            </app-incident-progress>
         
      </div>
  
      <!-- Right Column -->
      <div class="col-lg-6">
       
            <app-communication-log ></app-communication-log>
          
      </div>
    </div>
  </div>
  